Repository blake-r/pytest-durations: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, check-version

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        args:
          - check
          - --fix
          - --exit-non-zero-on-fix
        types: [ python ]
        language: system

      - id: check-version
        name: check-version
        entry: .github/scripts/check_version.py
        files: 'pyproject\.toml|src\/pytest_durations\/__init__\.py|README\.md$'
        language: python

Prepare the release commit
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

Prepare the release commit (#32)
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

Remove Category xdist serialization/deserialization
  src/pytest_durations/types.py
  src/pytest_durations/typing.pyi
  src/pytest_durations/xdist.py
Due: ruff

Remove Category xdist serialization/deserialization (#33)
  src/pytest_durations/types.py
  src/pytest_durations/typing.pyi
  src/pytest_durations/xdist.py
Due: ruff

Add group by type "none"
  src/pytest_durations/helpers.py
  src/pytest_durations/options.py
  src/pytest_durations/types.py
  tests/test_helpers.py
Due: ruff

Add tests group " groupby
  src/pytest_durations/helpers.py
  tests/test_helpers.py
Due: ruff

Fix global fixture name getting
  src/pytest_durations/helpers.py
  tests/test_helpers.py
Due: ruff

Add "none" grouping option and improve fixture key handling (#34)
  src/pytest_durations/helpers.py
  src/pytest_durations/options.py
  src/pytest_durations/types.py
  tests/test_helpers.py
Due: ruff

Issue new release
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

Version v1.6.1 (#35)
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

Refactor reporting module
  src/pytest_durations/plugin.py
  src/pytest_durations/reporting.py
  tests/test_reporting.py
Due: ruff

Remove redundant check
  src/pytest_durations/reporting.py
Due: ruff

Improved measurement report rows generation (#36)
  src/pytest_durations/plugin.py
  src/pytest_durations/reporting.py
  tests/test_reporting.py
Due: ruff

chore: drop support python3.9 and support python3.14
  .github/workflows/cicd.yml
  .pre-commit-config.yaml
  .ruff.toml
  README.md
  poetry.lock
  pyproject.toml
  src/pytest_durations/helpers.py
  src/pytest_durations/measure.py
  src/pytest_durations/plugin.py
  src/pytest_durations/xdist.py
  tests/test_ticker.py
Due: ruff, check-version

delete unused py314t
  .github/workflows/cicd.yml
Due: none

move unrelease section out from change log
  README.md
Due: check-version

fix python3.14 run in CI
  .github/workflows/cicd.yml
  poetry.lock
  pyproject.toml
Due: check-version

update dependency versions in poetry.lock
  poetry.lock
Due: none

fix 3.14 namedtuple issue
  src/pytest_durations/reporting.py
Due: ruff

fix TypeError: TimeValueGrandT.__new__() got an unexpected keyword argument 'name'
  src/pytest_durations/reporting.py
Due: ruff

chore: drop support python3.9 and support python3.14 (#37)
  .github/workflows/cicd.yml
  .pre-commit-config.yaml
  .ruff.toml
  README.md
  poetry.lock
  pyproject.toml
  src/pytest_durations/helpers.py
  src/pytest_durations/measure.py
  src/pytest_durations/plugin.py
  src/pytest_durations/reporting.py
  src/pytest_durations/xdist.py
  tests/test_ticker.py
Due: ruff, check-version

release 1.6.2
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

Release 1.6.2 (#39)
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

up min pytest version from 4.6 to 8.0
  README.md
  poetry.lock
  pyproject.toml
Due: check-version

change minimun pytest version 8.0 -> 7.0
  pyproject.toml
Due: check-version

change minimun pytest version 8.0 -> 7.0
  poetry.lock
Due: none

up min pytest version from 4.6 to 7.0 (#40)
  README.md
  poetry.lock
  pyproject.toml
Due: check-version

add typos in pre-commit hooks
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/pytest_durations/measure.py
  src/pytest_durations/plugin.py
  src/pytest_durations/xdist.py
Due: ruff, check-version

add typos in pre-commit hooks (#41)
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/pytest_durations/measure.py
  src/pytest_durations/plugin.py
  src/pytest_durations/xdist.py
Due: ruff, check-version

fix "has_location" deprecation
  src/pytest_durations/helpers.py
Due: ruff

fix external package fixtures
  src/pytest_durations/helpers.py
  tests/conftest.py
  tests/test_helpers.py
Due: ruff

fix instance level class fixtures
  tests/test_helpers.py
Due: ruff

fix get_grouped_measurements test
  README.md
  tests/test_helpers.py
Due: ruff, check-version

fix is_shared_fixture test
  tests/test_helpers.py
Due: ruff

fix: support pytest 9.x deprecations and class-scoped fixtures (#43)
  README.md
  src/pytest_durations/helpers.py
  tests/conftest.py
  tests/test_helpers.py
Due: ruff, check-version

chore: upgrade development dependencies
  README.md
  poetry.lock
  pyproject.toml
Due: check-version

Fix MeasurementDuration typing
  src/pytest_durations/measure.py
Due: ruff

Fix PLC0415 ruff lint
  src/pytest_durations/options.py
Due: ruff

weird fix
  .coveragerc
Due: none

Release 1.6.3
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version
