Repository blake-r/pytest-durations: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, check-version

ruff:
  name: ruff
  entry: ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system

check-version:
  name: check-version
  entry: .github/scripts/check_version.py
  language: python

Release 1.6.3 (#45)
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

remove weird fix
  .coveragerc
Due: none

use package symbol instead of import
  src/pytest_durations/measure.py
Due: ruff

Upgrade development toolchain (#44)
  .coveragerc
  README.md
  poetry.lock
  pyproject.toml
  src/pytest_durations/measure.py
  src/pytest_durations/options.py
Due: ruff, check-version

Release 1.7.0
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

Release 1.7.0 (#46)
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

Show max duration instead of min in reports (#47)
  README.md
  src/pytest_durations/reporting.py
  tests/test_reporting.py
Due: ruff, check-version

Show max duration instead of min in reports (#47) (#50)
  README.md
  src/pytest_durations/reporting.py
  tests/test_reporting.py
Due: ruff, check-version

Release 1.7.1
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

Release 1.7.1 (#51)
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

Add --pytest-durations-time-format presets (#49)
  README.md
  src/pytest_durations/options.py
  src/pytest_durations/plugin.py
  src/pytest_durations/reporting.py
  tests/test_options.py
  tests/test_reporting.py
Due: ruff, check-version

Move TimeFormat to types to avoid early reporting import
  src/pytest_durations/options.py
  src/pytest_durations/reporting.py
  src/pytest_durations/types.py
Due: ruff

Add --pytest-durations-time-format presets (#49) (#52)
  README.md
  src/pytest_durations/options.py
  src/pytest_durations/plugin.py
  src/pytest_durations/reporting.py
  src/pytest_durations/types.py
  tests/test_options.py
  tests/test_reporting.py
Due: ruff, check-version

Add --pytest-durations-show sections selector (#48)
  README.md
  src/pytest_durations/options.py
  src/pytest_durations/plugin.py
  src/pytest_durations/types.py
  tests/test_options.py
  tests/test_plugin.py
Due: ruff, check-version

Add --pytest-durations-show to select printed tables (#48) (#53)
  README.md
  src/pytest_durations/options.py
  src/pytest_durations/plugin.py
  src/pytest_durations/types.py
  tests/test_options.py
  tests/test_plugin.py
Due: ruff, check-version

Add --pytest-durations-columns to select report columns (#47)
  README.md
  src/pytest_durations/options.py
  src/pytest_durations/plugin.py
  src/pytest_durations/reporting.py
  src/pytest_durations/types.py
  tests/test_options.py
  tests/test_plugin.py
  tests/test_reporting.py
Due: ruff, check-version

Fold COLUMN_SORT_FIELDS into COLUMN_NAMES values (#47)
  src/pytest_durations/plugin.py
  src/pytest_durations/types.py
Due: ruff

Add --pytest-durations-columns to select report columns (#47) (#54)
  README.md
  src/pytest_durations/options.py
  src/pytest_durations/plugin.py
  src/pytest_durations/reporting.py
  src/pytest_durations/types.py
  tests/test_options.py
  tests/test_plugin.py
  tests/test_reporting.py
Due: ruff, check-version

Release 1.8.0
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

Release 1.8.0 (#55)
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

Backport: Show max duration instead of min in reports (#47)
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
  src/pytest_durations/reporting.py
  tests/test_reporting.py
Due: ruff, check-version

Backport #47 to 1.6.x: Show max duration instead of min (#63)
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
  src/pytest_durations/reporting.py
  tests/test_reporting.py
Due: ruff, check-version

ci: switch PyPI publishing to Trusted Publishing (OIDC)
  .github/workflows/cicd.yml
Due: none

ci: switch PyPI publishing to Trusted Publishing (OIDC) (#64)
  .github/workflows/cicd.yml
Due: none

ci: add id-token permission for Trusted Publishing on main
  .github/workflows/cicd.yml
Due: none

ci: add id-token permission for Trusted Publishing on main (#65)
  .github/workflows/cicd.yml
Due: none

docs(readme): update unreleased section and plugin options
  README.md
Due: check-version

refactor(types): replace Category metaclass with StrEnum (#59)
  README.md
  src/pytest_durations/types.py
Due: ruff, check-version

refactor(types): replace Category metaclass with StrEnum (#67)
  README.md
  src/pytest_durations/types.py
Due: ruff, check-version

ci: split lint/test jobs, add caching, wheel smoke-test, ARCHITECTURE.md (#61)
  .github/workflows/cicd.yml
  ARCHITECTURE.md
  README.md
Due: check-version

ci: fix job dependency reference (ci → lint, test)
  .github/workflows/cicd.yml
Due: none

ci: split lint/test jobs, add Poetry caching, wheel smoke-test, and ARCHITECTURE.md (#61) (#68)
  .github/workflows/cicd.yml
  ARCHITECTURE.md
  README.md
Due: check-version

feat(reporting): add p90, p95, p99 percentile columns (#57)
  README.md
  src/pytest_durations/reporting.py
  src/pytest_durations/types.py
  tests/test_reporting.py
Due: ruff, check-version

feat(baseline): add baseline comparison with GitHub Actions annotations (#58)
  README.md
  src/pytest_durations/baseline.py
  src/pytest_durations/options.py
  src/pytest_durations/plugin.py
  tests/test_baseline.py
  tests/test_options.py
Due: ruff, check-version

fix(tests): add missing assertions in test coverage gaps (#56)
  README.md
  tests/test_helpers.py
  tests/test_plugin.py
Due: ruff, check-version

fix(xdist): serialize Category enum to str for execnet compatibility
  src/pytest_durations/xdist.py
Due: ruff

Revert "refactor(types): replace Category metaclass with StrEnum (#67)"
  README.md
  src/pytest_durations/types.py
Due: ruff, check-version

revert(types): restore Category metaclass, revert StrEnum (#67) (#74)
  README.md
  src/pytest_durations/types.py
Due: ruff, check-version

Path conditions:
  ruff: any of: \.py$
  check-version: any of: pyproject\.toml|src\/pytest_durations\/__init__\.py|README\.md$
