Repository blake-r/pytest-durations: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, check-version

ruff:
  name: ruff
  entry: ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system

check-version:
  name: check-version
  entry: .github/scripts/check_version.py
  language: python

fix(tests): add missing assertions in test coverage gaps (#56)
  README.md
  tests/test_helpers.py
  tests/test_plugin.py
Due: ruff, check-version

test: add missing assertions to close coverage gaps (#56) (#66)
  README.md
  tests/test_helpers.py
  tests/test_plugin.py
Due: ruff, check-version

feat(plugin): add JSON output export via --pytest-durations-json (#60)
  README.md
  src/pytest_durations/json_exporter.py
  src/pytest_durations/options.py
  src/pytest_durations/plugin.py
  tests/test_options.py
Due: ruff, check-version

feat(plugin): support JSON-only mode with --pytest-durations=0 --pytest-durations-json
  src/pytest_durations/options.py
  src/pytest_durations/plugin.py
  tests/test_json_exporter.py
  tests/test_plugin.py
Due: ruff

docs(readme): document --pytest-durations-json with examples
  README.md
Due: check-version

refactor(json): remove raw times array and human-readable fields from JSON export
  README.md
  src/pytest_durations/json_exporter.py
  src/pytest_durations/plugin.py
  tests/test_json_exporter.py
Due: ruff, check-version

fix: address ruff lint issues in JSON export and tests
  ARCHITECTURE.md
  src/pytest_durations/json_exporter.py
  tests/test_json_exporter.py
  tests/test_plugin.py
Due: ruff

ci: run lint and test jobs in parallel
  .github/workflows/cicd.yml
Due: none

docs(architecture): remove redundant note about raw times exclusion
  ARCHITECTURE.md
Due: none

revert: restore if durations guard, early return creates unreachable code
  src/pytest_durations/plugin.py
Due: ruff

docs(readme): remove JSON structure example, keep only in ARCHITECTURE
  README.md
Due: check-version

refactor(plugin): flatten pytest_terminal_summary with early return
  src/pytest_durations/plugin.py
Due: ruff

feat: add --pytest-durations-json option for JSON export (#60) (#70)
  .github/workflows/cicd.yml
  ARCHITECTURE.md
  README.md
  src/pytest_durations/json_exporter.py
  src/pytest_durations/options.py
  src/pytest_durations/plugin.py
  tests/test_json_exporter.py
  tests/test_options.py
  tests/test_plugin.py
Due: ruff, check-version

refactor(reporting): extract _pct to module level, compute grand total percentiles from per-test percentiles
  src/pytest_durations/reporting.py
  tests/test_reporting.py
Due: ruff

refactor(reporting): reorder fields to num, min, med, p90, p95, p99, max, sum
  src/pytest_durations/reporting.py
  tests/test_reporting.py
Due: ruff

refactor(reporting): remove unnecessary n variable, use len(sorted_times) directly
  src/pytest_durations/reporting.py
Due: ruff

docs(readme): update full-column example to match reordered fields
  README.md
Due: check-version

docs(readme): remove grand total note and json section, update example with real diverse data
  README.md
Due: check-version

docs(readme): add full-columns example with auto time formatting
  README.md
Due: check-version

docs: move JSON example to README, keep implementation details in ARCHITECTURE
  ARCHITECTURE.md
  README.md
Due: check-version

docs(readme): use bash highlighting for terminal output blocks
  README.md
Due: check-version

style(tests): fix line-too-long in expected_report_rows fixture
  tests/test_reporting.py
Due: ruff

feat: add p90, p95, p99 percentile columns to duration reports (#57) (#69)
  ARCHITECTURE.md
  README.md
  src/pytest_durations/options.py
  src/pytest_durations/reporting.py
  src/pytest_durations/types.py
  tests/test_reporting.py
Due: ruff, check-version

docs: update README and ARCHITECTURE for baseline comparison
  ARCHITECTURE.md
  README.md
  src/pytest_durations/baseline.py
  src/pytest_durations/options.py
  src/pytest_durations/plugin.py
Due: ruff, check-version

Release 1.9.0 (#75)
  README.md
  pyproject.toml
  src/pytest_durations/__init__.py
Due: ruff, check-version

docs: add note to Unreleased section
  README.md
Due: check-version

Path conditions:
  ruff: any of: \.py$
  check-version: any of: pyproject\.toml|src\/pytest_durations\/__init__\.py|README\.md$
